html {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
}
body {
    margin: 0 auto;
}

h1 {
    text-align: center;
    font-size: 3em;
    margin-bottom: 0;
    margin-top: 3px;
}

hr {
    border: none;
    height: 1px;
    box-shadow: 1px 0 1px black;
}

main {
    margin-left: 1.5em;
    margin-right: 1.5em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100vw;
    max-height: 100vh;
    min-width: 100px;
    padding: 5px;
}

.project {
    box-sizing: border-box;
    margin: 5px;
    width:  calc(100vw/5);
    background-color: pink;
    min-width: 200px;
    min-height: 200px;
    height: calc(100vw/5);
    position: relative;
    overflow: hidden;
    border-radius: 0.25em;
    box-shadow: 2px -2px 5px 0px darkgrey;
}

img {
    width: calc(100vw/5);
    height: auto;
    min-width: 200px;
    transform: rotate(10deg);
}



.proj-name{
    box-sizing: border-box;
    text-align: center;
    padding: 0.6em;
    height: auto;
    background-color: black;
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    font-size: medium;
    color: white;
    z-index: 1;
}
