body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
#container {
    width: 80vw;
    background-color: rgba(78, 211, 244, 0.611);
    margin: 0 auto;
    padding: 0.8rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

h1{
    margin: 0;
    padding: 10px 0;
    text-align: center;
}

.destination {
padding: 0.5rem;
border-radius: 1em;
background-color: rgb(149, 202, 216);
}