body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
/* HEADER */
header{
    /* border-bottom: 1px solid rgb(149, 202, 216); */
    width: 17.5%;
    height: 100vh;
    text-align: left;
    position: fixed;
    top: 0;
    background-color: #fff;
}

header>ul{
    margin: 5px auto;
    /* width: 16vw; */
    padding: 0;
    /* text-align: center  ; */
    box-sizing: border-box;
}

h1{
    margin: 0;
    padding: 10px 0;
    text-align: center;
    /* width: 16vw; */
}

header li{
    /* box-sizing: border-box; */
    /* width: max-content; */
    border-radius: 0.4em;
    padding: 3px 5px;
    margin: 3px 2px;
    height: fit-content;
    list-style: none;
}
a{
    text-decoration: none;
}

header li:hover{
    background-color: rgba(78, 211, 244, 0.611);
}
/* MAIN CONTENT */
#container {
    display: flex;
    justify-content: space-evenly;
    width: 65vw;
    background-color: rgba(78, 211, 244, 0.611);
    margin: 0 auto;
    /* position: absolute; */
    /* top: 0; */
    margin-left: 17.5%;
    /* left: 32.5vh; */
    padding: 0.8rem;
    padding-top: 0;
    flex-wrap: wrap;
}

.destination {
    /* display: inline-block; */
    margin-top: 0;
    /* height: 45vh; */
    width: 22%;
    padding: 0.5rem;
    border-radius: 1em;
    background-color: rgb(149, 202, 216);
    /* overflow: auto; */
    /* border-bottom: 10px solid rgba(149, 201, 216, 0.43); */
}
/* .destination:hover::-webkit-scrollbar {
    display: none;
} */

@media only screen and (max-width: 768px) {

    header{
        border-bottom: 1px solid rgb(149, 202, 216);
        width: 100vw;
        height: 50px;
        margin-top: 10px;
        overflow: hidden;
        margin-top: 0;
    }
    
    h1{
        font-size: 1.3rem;
    }

    /* header>ul{
        margin: 5px auto;
        padding: 0;
        box-sizing: border-box;
    } */

    /* header li{
        box-sizing: border-box;
        border-radius: 0.4em;
        padding: 3px 5px;
        margin: 3px 2px;
        height: fit-content;
        list-style: none;
        text-align: center;
    } */

    /* MAIN CONTENT */
    #container {
        /* background-color: rgba(78, 211, 244, 0.611); */
        margin: 50px auto 0;
        width: 92vw;
    }

    .destination {
        width: 100em;
        display: block;
        margin-top: 5px;
    }

}