body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: #F2DF3A;
}
/* HEADER */
header{
    /* border-bottom: 1px solid rgb(149, 202, 216); */
    width: 17.5%;
    height: 100vh;
    text-align: left;
    position: fixed;
    top: 0;
    background-color: #F2DF3A;
}

header>ul{
    margin: 5px auto;
    /* width: 16vw; */
    padding: 0;
    /* text-align: center  ; */
    box-sizing: border-box;
}

h1{
    margin: 0;
    padding: 10px 0;
    text-align: center;
    color: #0078AA;
    font-weight: 800;
    font-size: 1.7em;
    /* width: 16vw; */
}

header li{
    /* box-sizing: border-box; */
    /* width: max-content; */
    /* border-radius: 0.4em; */
    padding: 3px 5px;
    background-color: rgb(58 180 242 / 20%);
    margin: 3px 2px;
    height: fit-content;
    list-style: none;
    /* color: #F2DF3A; */
    /* border-bottom: 1px solid #fff; */
    /* box-shadow: 0px 1px 4px 0px rgb(0 120 170 / 72%); */
}
a{
    text-decoration: none;
    color: #0078AA;
    font-weight: 600;
    /* color: #3ab4f2; */
}

header li:hover{
    background-color: rgba(78, 211, 244, 0.611);
}
/* MAIN CONTENT */
#container {
    display: flex;
    justify-content: space-evenly;
    width: 65vw;
    background-color: #3AB4F2;
    margin: 0 auto;
    /* position: absolute; */
    /* top: 0; */
    margin-left: 17.5%;
    /* left: 32.5vh; */
    padding: 0.8rem;
    padding-top: 0;
    flex-wrap: wrap;
}

.destination {
    /* display: inline-block; */
    margin-top: 5px;
    /* height: 45vh; */
    width: 22%;
    padding: 0.5rem;
    /* border-radius: 1em; */
    background-color: #fff;
    /* overflow: auto; */
    color: #0078AA;
    border-bottom: 10px solid #F2DF3A;
}

h3{
    margin-top: 10px;
    margin-bottom: 0;
}
h4{
    margin-top: 5px;
    margin-bottom: 8px;  
    font-weight: 600;
}

p{
   margin-top: 5px;
   margin-bottom: 3px;
   line-height: 1.2em; 
}
/* .destination:hover::-webkit-scrollbar {
    display: none;
} */

@media only screen and (max-width: 768px) {

    header{
        border-bottom: 1px solid rgb(149, 202, 216);
        width: 100vw;
        height: 50px;
        margin-top: 10px;
        overflow: hidden;
        margin-top: 0;
    }
    
    h1{
        font-size: 1.3rem;
    }

    /* header>ul{
        margin: 5px auto;
        padding: 0;
        box-sizing: border-box;
    } */

    /* header li{
        box-sizing: border-box;
        border-radius: 0.4em;
        padding: 3px 5px;
        margin: 3px 2px;
        height: fit-content;
        list-style: none;
        text-align: center;
    } */

    /* MAIN CONTENT */
    #container {
        /* background-color: rgba(78, 211, 244, 0.611); */
        margin: 50px auto 0;
        width: 92vw;
    }

    .destination {
        width: 100em;
        display: block;
    }

}